<div class="card hidden-sm hidden-xs mb-3 shadow-hover">
  <div class="card-header bg-stripe-zero text-dark pb-0">
    <span class="fas fa-child float-right"></span>
    <p class="card-title">Linux/BSD Customization</p>
    <div class="clearfix"></div>
  </div>
  <div class="card-body py-2">
    <ul class="card_list">
      {{ range first 5 (shuffle .Site.Data.archives_github) }}
      <li><a href="http://epsi-rns.github.io{{ .url }}">{{ .title }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
