<div class="card hidden-sm hidden-xs mb-3 shadow-hover">
  <div class="card-header bg-stripe-zero text-dark pb-0">
    <span class="fas fa-car-side float-right"></span>
    <p class="card-title">Car Painting and Body Repair.</p>
    <div class="clearfix"></div>
  </div>
  <div class="card-body py-2">
    <div class="justify-content-center">
      <a href="http://oto-spies.info/">
        <img src="{{ "site/images/adverts/oto-spies-01.png" | absURL }}"
             alt="Oto Spies"></a>
    </div>
  </div>
</div>
