{{ define "main" }}
<div class="container p-3 mb-3
            bg-light rounded border border-dark shadow-hover">
  <div class="p-2">
    <form action="get" id="site_search">
      <label for="search_box">Search</label>
      <input type="text" id="search_box" name="query">
      <input type="submit" value="search">
    </form>

    <ul id="search_results" class="list-unstyled"></ul>
  </div>
</div>
{{ end }}

{{ define "custom-javascript" }}
    <script src="{{ "vendors/js/lunr-0.7.1.min.js" | relURL }}"></script>
    <script src="{{ "site/js/search-lunr-0.7.1.js" | relURL }}"></script>
{{ end }}
