{{ define "page"}}
  <div class="justify-content-center img-responsive text-center">
    <img src="{{ "site/images/logo-gear.png" | relURL }}"
      alt="logo gear"><br/>

  This is not the page you are looking for.<br/>
  <a href="{{ "/" | relURL }}">Go home. Go home...</a>
  </div>
{{ end }}
