
    <footer class="rounded bg-light shadow-hover border p-2 mb-4">
      {{ if .Params.author }}
        {{ $author := index .Site.Data.authors .Params.author }}

        {{ $avatar := $author.avatar }}
        
        {{ if $avatar.image }}
            {{ $av_img := (print "/site/images/authors/" $avatar.image) }}
          
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="p-2 text-center">
            <img src="{{ $av_img }}" 
                 class="bio-photo" 
                 height="{{ $avatar.height }}"
                 width="{{ $avatar.width }}"
                 alt="{{ $author.name }} bio photo"></a>
        </div>
        {{ end }}

        <div class="p-2 ">
          <div>By <span class="fa fa-pencil"> {{ $author.name }}</span><br/></div>

          <div>
              <span>Share: </span>
              <span class="social-share-twitter">
                <a href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Page.Title }}&amp;via={{ $author.twitter }}"
                   title="Share on Twitter" itemprop="Twitter"><i class="fab fa-twitter-square"></i> Tweet</a>
              </span>
              <span class="social-share-facebook">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" 
                   title="Share on Facebook" itemprop="Facebook"><i class="fab fa-facebook-square"></i> Like</a>
              </span>
              <span class="social-share-googleplus">
                <a href="https://plus.google.com/share?url={{ .Permalink }}" 
                   title="Share on Google Plus" itemprop="GooglePlus"><i class="fab fa-google-plus-square"></i> +1</a>
              </span>
              <!-- /.social-share -->
          </div>

        </div>
      </div>

      {{ end }}

      <div class="d-flex flex-row justify-content-center align-items-center">

        <div class="p-2 text-center">
            <img src="/site/images/license/cc-by-sa.png" 
                 class="bio-photo" 
                 height="31"
                 width="88"
                 alt="CC BY-SA 4.0"></a>
        </div>

        <div class="p-2">
            This article is licensed under:<br/>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed" 
               class="text-dark">
                <b>Attribution-ShareAlike</b> 4.0 International (CC BY-SA 4.0)</a>
        </div>

      </div>
    </footer>

