
  <ul class="pagination justify-content-between" 
      role="navigation" aria-labelledby="pagination-label">

      {{ if .Page.PrevPage }}
      <li class="page-item previous">
        <a class="page-link" 
           href="{{ .Page.PrevPage.URL | absURL }}" 
           title="{{ .Page.PrevPage.Title }}">&laquo; </a>
      </li>
      {{ end }}

      {{ if .Page.NextPage }}
      <li class="page-item next">
        <a class="page-link" 
           href="{{ .Page.NextPage.URL | absURL }}" 
           title="{{ .Page.NextPage.Title }}"> &raquo;</a>
      </li>
      {{ end }}

  </ul>
