{{ define "main" }}
<main role="main" 
      class="container-fluid mb-3 p-3
             bg-light rounded border border-dark shadow-hover">
  <header>
    <h2>{{ .Section }}</h2>
  </header>

  {{ .Content }}

  {{ $posts := where .Data.Pages "Type" "post" }}
  <section id="archive">
    {{ range ($posts.GroupByDate "2006") }}
      {{ partial "summary/by-month.html" . }}
    {{ end }}
  </section>
</main>
{{ end }}
