{{ define "main" }}
<main role="main" 
      class="container-fluid mb-3 p-3
             bg-light rounded border border-dark shadow-hover">

  <div class="">
    {{ range $key, $value := .Data.Terms }}
      {{ $postCount := len $value.Pages  }}
      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
      <span class="badge badge-dark">{{ $key }} 
      <span class="badge badge-light">{{ $postCount }}</span></span></a>
    {{ end }}
  </div>
  <br/>

  <header>
    <h2>{{ .Section }}</h2>
  </header>

  {{ .Content }}

  <section class="px-3" id="archive">
    {{ range $key, $value := .Data.Terms }}
      <div id="{{ $key }}" class ="anchor-target">
        <span class="fa fa-folder"></span> 
        {{ $.Data.Singular | humanize }}: 
        <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        {{ $key }}</a>
      </div>

      <div class="px-3">
      {{ range $value.Pages }}
      <div class="meta-item d-flex flex-row-reverse border-bottom shadow-hover">
        <div class="meta_link text-right text-nowrap">
          <time class="meta_time float-right"
                datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "Jan 02, 2006" }}
            &nbsp;<span class="fa fa-calendar"></span></time></div>
        <div class="mr-auto"><a href="{{ .URL | absURL }}">
          {{ .Title }}
        </a></div>
      </div>
      {{ end }}
      </div>

    {{ end }}
  </section>
</main>
{{ end }}
