+++
title = "Hello Open Source World"
description = "Welcoming Page"

[opengraph]
  image = "site/images/authors/epsi-vexel.png"
+++
          <p class="lead text-muted">
              My name is Epsi. I'm an open source enthusiast.
              This site is mainly discuss about web development,
              frontend, backend, and especially
              SSG (static site generator),
              And sometimes other interesting issue as well,
              such as coding and design.</p>

          <div class="justify-content-center img-responsive">
            <img src="{{< baseurl >}}site/images/epsi-bulat.png" 
                 class="bio-photo" 
                 alt="epsi bio photo"></a>
          </div>

          <p class="lead text-muted">
              There are so many things to say.
              I don't want to live in regrets.
              So I make this blog.</p>

          <p>
            <a href="{{< baseurl >}}pages/archives" 
               class="btn btn-primary my-2">Articles Sorted by Month</a>
            <a href="{{< baseurl >}}tags" 
               class="btn btn-secondary my-2">Articles Sorted by Tag</a>
          </p>

          <p class="lead text-muted">
              Although I like command line, I'm not a hacker.
              You won't find any illegal activities in this site.</p>

          <p><img alt="Terminal for Dummies" 
              src="{{< baseurl >}}posts/backend/2014/01/tmux-vim-gcc-c-asm.png" /></p>

          <p class="lead text-muted">
              You may also consider going straight to example content below.</p>
          <p>
            <a href="{{< baseurl >}}backend/2014/01/02/content-example/" 
               class="btn btn-dark my-2">Example Blog Post</a>
          </p>

          <p class="lead text-muted">
              This site is using Oriclone Theme.</p>
          <p>
            <a href="http://epsi-rns.gitlab.io/demo-hugo" 
               class="btn btn-primary my-2">Hugo Demo Site</a>
            <a href="https://gitlab.com/epsi-rns/demo-hugo" 
               class="btn btn-secondary my-2">Clone Repository</a>
          </p>

