  {{ $year := .Key }}
  <div class ="anchor-target archive-year" 
       id="{{ $year }}">
       {{- if eq .Key (now.Format "2006") -}}
         This year's posts ({{ $year }})
       {{- else -}}
         {{ .Key }}
       {{- end -}}
       </div>

  {{ range (.Pages.GroupByDate "January") }}
  {{ $month := .Key }}
  <div class="pl-3">
    <span class ="anchor-target archive-month" 
          id="{{ $year }}-{{ $month }}">
          {{ $month }} - {{ $year }}</span>

    <div class="archive-list pl-3">
      {{ range .Pages }}
      <div class="archive-item d-flex flex-row-reverse">
        <div class="text-right text-nowrap"><time>
            {{ .Date.Format "02 Jan" }}&nbsp;
            <span class="fas fa-calendar"></span></time></div>
        <div class="mr-auto"><a href="{{ .URL | absURL }}">
          {{ .Title }}
        </a></div>
      </div>
      {{ end }}
    </div>

  </div>
  {{ end }}

