    <div class="meta-item p-3 border-bottom shadow-hover">

      <strong><a class="meta_link" 
        href="{{ .Permalink }}">{{ .Title }}
      </strong></a>

      <div class="meta">
        <div class="meta_time float-left">
          <i class="fa fa-calendar"></i>
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "Jan 2, 2006" }}</time>
        </div>      
        <div class="float-right" id="meta_tags">
          {{ range .Params.tags }}
            <a href="{{ printf "tags/%s" . | absURL }}">
              <span class="badge badge-dark"><span class="fa fa-tag"></span>{{ . }}</span></a>
          {{ end }}
        </div>
      </div> 

      <div class="clearfix"></div>
      
      <div>
        {{ if .Params.Excerpt -}}
          {{ .Params.Excerpt }}
        {{- else -}}
          {{ .Summary }}
        {{- end }}
      </div>

      <div class="read-more">
        <a href="{{ .Permalink }}" 
           class="btn btn-dark btn-sm">Read More</a>
      </div>

    </div>
