{{ if .Params.related_link_ids }}
<div class="card hidden-sm mb-3 shadow-hover">
  <div class="card-header bg-stripe-zero text-dark pb-0">
    <span class="fa fa-link float-right"></span>
    <p class="card-title">Related Posts</p>
    <div class="clearfix"></div>
  </div>
  <div class="card-body py-2">
    <ul class="card_list">
      {{ range $cur := .Params.related_link_ids }}
      <li>   
        {{ range $.Site.Data.archives }}

          {{- if eq $cur (print .id) -}}
          <a href="{{ .url | absURL }}">{{ .title }}</a>
          {{- end -}}

        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}

