    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "vendors/js/jquery.min.js" | relURL }}"></script>
    <script src="{{ "vendors/bootstrap/js/bootstrap.min.js" | relURL }}"></script>
    <script src="{{ "vendors/js/popper.min.js" | relURL }}"></script>
